In [3]:
print("hello world")

hello world

## Variabel

In [2]:
salam = "Selamat Siang!"
print(salam)

Selamat Siang!

In [7]:
print("Budi", 123, ".", sep="-")
print("Budi", 123, ".", sep="")

Budi-123-.
Budi123.

In [8]:
print("Halo Selamat Siang!", end=" ")
print("Saya ingin ahli di python.")

Halo Selamat Siang! Saya ingin ahli di python.

## Tipe Data

In [10]:
integer = 100
print(integer)

100

In [12]:
float = 3.6
print(float)

3.6

In [14]:
comp = 1+3j
print(comp)

(1+3j)

In [17]:
print(type(integer))
print(type(float))
print(type(comp))

<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
string = "indonesia"
print(type(string))

<class 'str'>

In [22]:
num = 0
print(bool(num))

False

In [23]:
num = 1
print(bool(num))

True

## Operasi Dasar

In [27]:
x = 30
y = 20
penjumlahan = x + y
print(penjumlahan)

50

In [28]:
x = 30
y = 20
pengurangan = x - y
print(pengurangan)

10

In [29]:
x1 = "Satu"
print(x1 * 5)

SatuSatuSatuSatuSatu

In [31]:
x = 15
y = 2
hasil = x / y
print(hasil)

7.5

In [38]:
x = 17
y = 6
hasil = x // y
print(hasil)

2

In [34]:
x = 14
y = 3
modulus = x % y
print(modulus)

2

In [39]:
x = 5
exponent = x ** 5
print(exponent)

3125

## Operator Penugasan

In [40]:
x = "Halo"
print(x)

Halo

In [41]:
x = 4
x += 5
print(x)

9

In [42]:
x = 5
x -= 4
print(x)

1

In [43]:
x = 15
x /= 2
print(x)

7.5

In [44]:
x = 5
x *= 3
print(x)

15

## Perbandingan

In [50]:
x = 5
y = 7
hasil = x < y
print(hasil)

True

In [51]:
hasil2 = x == y
print(hasil2)
if hasil2 == False:
    print("Ternyata hasilnya salah")

False
Ternyata hasilnya salah